
p.copy {
	padding: 0px;
	margin: 5px 0px 6px 0px;
	}


.copy {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #6A714D;
	text-align: justify;
}


.pdf {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
	text-align: center;
}


.right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
	text-align: right;
}

.left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
	text-align: left;
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
	text-align: left;
}
.tbl-medium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
	background-color: #D2D6C4;
}
.tbl-light {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
	background-color: #E2E5D5;
}
.form-button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
}
.form-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 17px;
	color: #6A714D;
}

a.pdf	{
	text-decoration: none;
	color: #FFFFFF;
	}

a:visited.pdf	{
	text-decoration: none;
	color: #FFFFFF;
	}

a:hover.pdf	{
	text-decoration: underline;
	color: #FFFFFF;
	}

a:active.pdf	{
	text-decoration: none;
	color: #FFFFFF;
	}

a:visited:active.pdf	{
	text-decoration: none;
	color: #FFFFFF;
	}

a:visited:hover.pdf	{
	text-decoration: underline;
	color: #FFFFFF;
	}