.nav_red { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: 18px; font-weight: normal; color: #e82025; text-align: left ; text-decoration: none}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none}
.redcopy { font-family: Verdana, Arial, Helvetica, sans-serif; color: #740A30; font-size: 11px; text-decoration: none }
b { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none ; font-weight: bold}
.bburgandy { font-family: Verdana, Arial, Helvetica, sans-serif; color: #990000; font-size: 11px; text-decoration: none ; font-weight: bold}
i { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none ; font-style: italic}
.iburgandy { font-family: Verdana, Arial, Helvetica, sans-serif; color: #990000; font-size: 11px; text-decoration: none ; font-style: italic}
li { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none ; font-style: normal}
ul { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none ; font-style: normal }
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 13px; text-decoration: none ; font-weight: bold}
a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #740A30; font-size: 11px; text-decoration: underline}
.purplecopy { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none }
td { font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none }
sup {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; text-decoration: none}
.bluecopy { font-family: Verdana, Arial, Helvetica, sans-serif; color: #2B54AF; font-size: 11px; text-decoration: none }
.address { font-family: Verdana, Arial, Helvetica, sans-serif; color: #740A30; font-size: 11px; text-decoration: none }
.head {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; color: #740A30; text-decoration: none; font-weight: bold}
.head2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #353251; font-weight: bold}
.head3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: underline; color: #353251; font-weight: bold }
.content {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #353251; font-size: 11px; text-decoration: none}
.temptitle { font-family: Arial, Helvetica, sans-serif; color: #8A002E; font-weight: bold; font-size: 25px; text-decoration: none }

.take_advantage { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #237715; 
	font-size: 11px; 
	text-decoration: none 
	}
	.quickstart { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #89012D; 
	font-size: 12px; 
	text-decoration: none 
	}
	.advance { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #89012D; 
	font-size: 9px; 
	text-decoration: none 
	}
	.list { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #322F5C; 
	font-size: 9px; 
	text-decoration: none 
	}
	.basetext { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #FFFFFF; 
	font-size: 15px; 
	text-decoration: none 
	}
	.rates { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #89012D; 
	font-size: 9px; 
	text-decoration: none 
	}
	.titles{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #8a002a; 
	font-size: 24px; 
	text-decoration: none 
	}
	.largetext{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #890120; 
	font-size: 15px; 
	text-decoration: none 
	}
	
.header { font-family: Verdana, Arial, Helvetica, sans-serif; color: #237715; font-size: 14px; text-decoration: none }
.headerred { font-family: Verdana, Arial, Helvetica, sans-serif; color: #990033; font-size: 18px; text-decoration: none }
.basetextB { font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 15px; text-decoration: none ; font-weight: bold}
